<!DOCTYPE html>
<html>
<head>
  <title>AllSet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <% if current_user %>
      window.user_id = <%= current_user.id %>;
      window.username = '<%= current_user.username %>';
    <% else %>
      window.user_id = undefined;
      window.username = undefined;
    <% end %>

  </script>
</head>

<%= link_to "Guest Sign in", "/guest_session" %>

<body>

<%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
